{
    "openapi": "3.1.0",
    "info": {
        "title": "SuiteManager Public API",
        "description": "API pública del motor de reservas SuiteManager para integración con agentes de IA como ChatGPT, Gemini y Claude.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://suitemanagers.com",
            "description": "Marketplace público"
        },
        {
            "url": "https://suite-manager.onrender.com/api/public",
            "description": "API privada por empresa"
        }
    ],
    "paths": {
        "/api/search.json": {
            "get": {
                "summary": "Busca alojamientos en el marketplace de SuiteManagers",
                "description": "Endpoint público sin autenticación. Retorna propiedades activas con foto, precio, rating y disponibilidad filtrada por fechas.",
                "operationId": "buscarAlojamientos",
                "servers": [{ "url": "https://suitemanagers.com" }],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Texto libre: nombre de destino, tipo de alojamiento o empresa (ej: 'pucon', 'tinaja', 'orillas')",
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "personas",
                        "in": "query",
                        "description": "Capacidad mínima requerida (número de huéspedes)",
                        "schema": { "type": "integer", "minimum": 1 }
                    },
                    {
                        "name": "fecha_in",
                        "in": "query",
                        "description": "Fecha de llegada (YYYY-MM-DD). Junto con fecha_out filtra disponibilidad real.",
                        "schema": { "type": "string", "format": "date" }
                    },
                    {
                        "name": "fecha_out",
                        "in": "query",
                        "description": "Fecha de salida (YYYY-MM-DD)",
                        "schema": { "type": "string", "format": "date" }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Máximo de resultados (default 40, máximo 100)",
                        "schema": { "type": "integer", "default": 40 }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de alojamientos que coinciden con los filtros",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "version": { "type": "string" },
                                        "total": { "type": "integer" },
                                        "propiedades": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": { "type": "string" },
                                                    "titulo": { "type": "string" },
                                                    "empresa": { "type": "string" },
                                                    "capacidad": { "type": "integer" },
                                                    "precioDesde": { "type": "number", "description": "Precio mínimo en CLP" },
                                                    "moneda": { "type": "string", "example": "CLP" },
                                                    "rating": { "type": "number" },
                                                    "numResenas": { "type": "integer" },
                                                    "fotoUrl": { "type": "string" },
                                                    "url": { "type": "string", "description": "URL directa a la página de reserva" }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/propiedades": {
            "get": {
                "summary": "Lista todas las propiedades registradas en SuiteManager",
                "operationId": "listarPropiedades",
                "responses": {
                    "200": {
                        "description": "Listado de propiedades disponibles"
                    }
                }
            }
        },
        "/propiedades/{id}": {
            "get": {
                "summary": "Obtiene la información detallada de una propiedad",
                "operationId": "detallePropiedad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Datos detallados de la propiedad"
                    }
                }
            }
        },
        "/propiedades/{id}/imagenes": {
            "get": {
                "summary": "Obtiene las imágenes de una propiedad",
                "operationId": "imagenesPropiedad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Imágenes asociadas a la propiedad"
                    }
                }
            }
        },
        "/propiedades/{id}/disponibilidad": {
            "get": {
                "summary": "Consulta disponibilidad de una propiedad",
                "operationId": "disponibilidadPropiedad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fechaInicio",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "fechaFin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Disponibilidad de la propiedad en el rango solicitado"
                    }
                }
            }
        },
        "/propiedades/{id}/cotizar": {
            "get": {
                "summary": "Genera una cotización para una propiedad",
                "operationId": "cotizarPropiedad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fechaInicio",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "fechaFin",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "adultos",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "menores",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle de cotización"
                    }
                }
            }
        },
        "/reservas": {
            "post": {
                "summary": "Crea una reserva definitiva o una reserva desde IA",
                "operationId": "crearReserva",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "propiedadId": {
                                        "type": "string"
                                    },
                                    "fechaInicio": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "fechaFin": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "adultos": {
                                        "type": "integer"
                                    },
                                    "menores": {
                                        "type": "integer"
                                    },
                                    "cliente": {
                                        "type": "object",
                                        "properties": {
                                            "nombre": {
                                                "type": "string"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "telefono": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "origen": {
                                        "type": "string",
                                        "example": "chatgpt"
                                    }
                                },
                                "required": [
                                    "propiedadId",
                                    "fechaInicio",
                                    "fechaFin",
                                    "cliente"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Reserva creada correctamente"
                    }
                }
            }
        }
    }
}